[submodule "libs/SetTypes"]
	path = libs/SetTypes
	url = https://github.com/rob-Hitchens/SetTypes.git
[submodule "base/openzeppelin"]
	path = base/openzeppelin
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
[submodule "sc-yul/lib/forge-std"]
	path = sc-yul/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
