node_modules/
~$*
libs/web3/py/input.py
base/ERC20Token/input.py
build/
__pycache__
.DS_Store

artifacts/
*.lock
.env
*deps/
bin/

# python
*.ipynb_checkpoints/

# OZ upgrade
.openzeppelin/

# draw.io
.$*.drawio.bkp

# foundry

# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
